* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#dark-mode {
  --SandDune: #43382a;
  --SandDune2: #786a55;
  --CloudShade1: #b0b0b0;
  --CloudShade2: #525252;
  --Orgin: #c9c9c9;
  --End: #000000;
  --CoudMain: #9f9f9f;
  --CastleShadow: #534330;
  --CastleLight: #7b6648;
  --CastleShadow2: #31261b;
  --StoneDark: #31261b;
  --StoneLight: #54463a;
  --Border: #000000;
  --Flag: #591515;
  --FlagDark: #400000;
}
:root {
  --SandDune: #bc976c;
  --SandDune2: #f1ce9f;
  --CloudShade1: #f1fcfd;
  --CloudShade2: #dcf3fa;
  --Orgin: #fff;
  --End: #7ac6ea;
  --CoudMain: #ffffff;
  --CastleShadow: #af8a61;
  --CastleLight: #efcd9e;
  --CastleShadow2: #a07d56;
  --StoneDark: #755f4e;
  --StoneLight: #a68b72;
  --Border: #312a22;
  --Flag: #c24b48;
  --FlagDark: #8c3938;
}

body {
  height: 100dvh;
  width: 100dvw;
  background: radial-gradient(
    144.72% 106.94% at 57.15% 9.62%,
    var(--CloudShade1) 0%,
    var(--CloudShade2) 13.94%,
    var(--End) 100%
  );
  overflow: hidden;
}
#sandDune1 {
  flex-shrink: 0;
  bottom: 0px;
  width: 1244.781px;
  height: 325px;
  left: 0px;
  position: absolute;
  fill: var(--Sand-Dune-2, #f1ce9f);
  stroke-width: 1px;
  stroke: var(--CastleShadow, #af8a61);
  z-index: 7;
}
#sandDune2 {
  bottom: 0;
  right: 0;

  width: 983px;
  height: 441px;

  position: absolute;
  fill: var(--Sand-Dune, #bc976c);
  stroke-width: 1px;
  stroke: var(--Sand-Dune-2, #f1ce9f);
  z-index: 10;
}

#sandDune3 {
  position: absolute;
  fill: var(--Sand-Dune, #bc976c);
  bottom: 50px;
  left: 287px;
  z-index: 6;
  width: 1000px;
  height: 249px;
  flex-shrink: 0;
}
#sandDune4 {
  fill: var(--Sand-Dune-2, #f1ce9f);
  right: 0px;
  position: absolute;
  bottom: 200px;
  z-index: 7;
  flex-shrink: 0;
}
#rock {
  position: absolute;
  left: 200px;
  bottom: 100px;
  z-index: 9;
}
#castle {
  position: absolute;
  right: 200px;
  bottom: 140px;
  z-index: 8;
  width: 855.548px;
  height: 650.563px;
  flex-shrink: 0;
}
