@font-face {
  font-family: "MedievalSharp";
  src: url("/font/MedievalSharp-Regular.ttf");
}
@font-face {
  font-family: "Rubik";
  src: url("/font/RubikBurned-Regular.ttf");
}
/* ============================================
   CSS CUSTOM PROPERTIES (VARIABLES)
   ============================================ */
:root {
  /* Sand Dune Colors */
  --text: black;
  --sand-dune-primary: #bc976c;
  --sand-dune-secondary: #f1ce9f;

  /* Cloud & Sky Colors */
  --cloud-shade-light: #f1fcfd;
  --cloud-shade-medium: #dcf3fa;
  --sky-origin: #fff;
  --sky-end: #7ac6ea;
  --cloud-main: #ffffff;

  /* Castle Colors */
  --castle-shadow-primary: #af8a61;
  --castle-light: #efcd9e;
  --castle-shadow-secondary: #a07d56;

  /* Stone Colors */
  --stone-dark: #755f4e;
  --stone-light: #a68b72;

  /* Accent Colors */
  --border-color: #312a22;
  --flag-primary: #c24b48;
  --flag-dark: #8c3938;

  /* Archway*/
  --gate-light-shade: #918d82;
  --gate-dark-shade: #676765;
}

/* Dark Theme Colors */
.dark-mode {
  /* Sand Dune Colors */
  --text: #fff;
  --sand-dune-primary: #373449;
  --sand-dune-secondary: #4d506c;

  /* Cloud & Sky Colors */
  --cloud-shade-light: #576c96;
  --cloud-shade-medium: #3d4c76;
  --sky-origin: #23294b;
  --sky-end: #060d1e;
  --cloud-main: #3e4c74;

  /* Castle Colors */
  --castle-shadow-primary: #292438;
  --castle-light: #3f4261;
  --castle-shadow-secondary: #292538;

  /* Stone Colors */
  --stone-dark: #1c1a2f;
  --stone-light: #2a2b48;

  /* Accent Colors */
  --border-color: #111119;
  --flag-primary: #271126;
  --flag-dark: #1e0c1c;
  /* Archway*/
  --gate-light-shade: #2D2E40;
  --gate-dark-shade: #252B32;
}
/* ============================================
   SVG FILL CLASSES
   ============================================ */

/* Sand Dune Fill Classes */
.sand-dune-primary {
  fill: var(--sand-dune-primary);
}

.sand-dune-secondary {
  fill: var(--sand-dune-secondary);
}

/* Cloud & Sky Fill Classes */
.cloud-shade-light {
  fill: var(--cloud-shade-light);
}

.cloud-shade-medium {
  fill: var(--cloud-shade-medium);
}

.sky-origin {
  fill: var(--sky-origin);
}

.sky-end {
  fill: var(--sky-end);
}

.cloud-main {
  fill: var(--cloud-main);
}

/* Castle Fill Classes */
.castle-shadow-primary {
  fill: var(--castle-shadow-primary);
}

.castle-shadow-secondary {
  fill: var(--castle-shadow-secondary);
}

.castle-light {
  fill: var(--castle-light);
}

/* Stone Fill Classes */
.stone-dark {
  fill: var(--stone-dark);
}

.stone-light {
  fill: var(--stone-light);
}

/* Accent Fill Classes */
.border-color {
  fill: var(--border-color);
}

.flag-primary {
  fill: var(--flag-primary);
}

.flag-dark {
  fill: var(--flag-dark);
}

.gate-light {
  fill: var(--gate-light-shade);
}
.gate-dark {
  fill: var(--gate-dark-shade);
}
